@import url('https://fonts.googleapis.com/css?family=Karma:700');

body {
  background-color: #FFFEEF;
  font-family: 'Karma', serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.postLink {
  text-decoration: none;
  color: black;
}

