@media only screen and (min-width: 769px) {

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 10px;
    width: 100vw;
}

.item1 {
    grid-column: col-start / span 5;
    grid-row: 1 / 5;
  }
  .item2 {
    grid-column: col-start 6 / span 3 ;
    grid-row: 1 / 3;
  }
  .item3 {
    grid-column: col-start 9 / span 3;
    grid-row: 1 / 3;
  }
  .item4 {
    grid-column: col-start / span 6;
    grid-row: 5 / 9;
  }
  .item5 {
      grid-column: col-start 7 / span 6;
      grid-row: 3 / 9;
  }
  
  .Dashcard {
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    height: auto;
    margin: 1.5em;
    background: #D8D4F2;
    padding: 1.5em;
  }
  
  .Dashcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  
  .Dashcard img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
}

  @media only screen and (max-width: 768px) {

    .wrapper {
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 90vw;
        margin: 0 auto;
      }
      
      .Dashcard {
        box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        width: 74vw;
        height: auto;
        margin: 1.5em auto;
        background: #D8D4F2;
        padding: 1.5em;
      }
      
      .Dashcard:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      .container {
        padding: 2px 16px;
      }
      
      .Dashcard img {
        width: 100%;
        height: auto;
        border-radius: 5px 5px 0 0;
      }
  }